VITE_OPENAI_API_KEY=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
VITE_OPENAI_ASSISTANT_ID=asst_CJpNbyOYJHH3HNHfqWm0xX3U
